<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>ddgSecure</string>
		<key>Secure</key>
		<false/>
		<key>Title</key>
		<string>Use DuckDuckGo over a secure (https) connection</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>newTab</string>
		<key>Key</key>
		<string>ddgOpenStyle</string>
		<key>Title</key>
		<string>Open DuckDuckGo search</string>
		<key>Titles</key>
		<array>
			<string>in a New Tab</string>
			<string>in a New Background Tab</string>
			<string>in the Current Tab</string>
			<string>in a New Window</string>
		</array>
		<key>Type</key>
		<string>RadioButtons</string>
		<key>Values</key>
		<array>
			<string>newTab</string>
			<string>bgTab</string>
			<string>curTab</string>
			<string>newWindow</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>newTab</string>
		<key>Key</key>
		<string>ddgRightClickStyle</string>
		<key>Title</key>
		<string>Right click search opens</string>
		<key>Titles</key>
		<array>
			<string>in a New Tab</string>
			<string>in a New Background Tab</string>
			<string>in the Current Tab</string>
			<string>in a New Window</string>
		</array>
		<key>Type</key>
		<string>RadioButtons</string>
		<key>Values</key>
		<array>
			<string>newTab</string>
			<string>bgTab</string>
			<string>curTab</string>
			<string>newWindow</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>ddgShortcut</string>
		<key>Title</key>
		<string>Enable Ctrl-d shortcut for search</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
</array>
</plist>
